*.vsix
.npm-cache/**
old-builds/**
test/**
node_modules/typescript/**
!node_modules/typescript/package.json
!node_modules/typescript/LICENSE.txt
!node_modules/typescript/ThirdPartyNoticeText.txt
!node_modules/typescript/lib/typescript.js
